#titulo-Pag{
    color: white;
    background-color: lightblue;
    text-align: center;
}
#menuOp {
    background-color: lightblue;
    width: 200px;
    height: 300px;
    margin-top: 150px;
    margin-left: 150px;
}

#Corpo {
    display: flex;
    width: 90%;
}
#RelaOp {
    margin-left: 450px;
    margin-top: -105px;
    width: 1100px;
    height: 500px;
    background-color: lightblue;
    display: flex;
}
#Extrato {
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
#Opções {
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 90px;
    background-color: white;
    width: 200px;
    height: 200px;
    text-align: center;
}
#Opções h4{
    border: solid 2px black;
}
